* {
    font-family: 'Roboto';
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    color: #000000;
    text-decoration: none;
}

.content {
    display: flex;
    padding: 20px 100px;
}

.copyright {
    font-size: 12px;
    color: #aaaaaa;
    margin: 20px 0;
}

.footer {
    padding: 50px 100px;
    margin-top: auto;
    background-color: #1f1f1f;
}

.footerLink {
    font-size: 14px;
    color: #a1a1a1;
    margin-right: 10px;
}

.header {
    background-color: #009bff;
    color: white;
    position: relative;

    box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.5);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;

    box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 30px -2px rgba(0, 0, 0, 0.5);
}

.headerLogo {
    color: #ffffff;
    font-size: 30px;
}

.headerRightActions {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.headerTrialButton {
    background-color: #414141;
    border: none;
    color: #ffffff;
    padding: 10px;
}

.overlayText {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 45%;
}

.socialIcon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.storeIcon {
    height: 40px;
    margin: 5px;
}

.storeIcons {
    float: right;
}

.subHeader {
    background-color: #414141;
    color: white;
}

.tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    width: 100%;
    padding-top: 150%;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 50px;
}

.tileImage {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.tileImageContainer {
    position: absolute;
    width: 100%;
    top: 0;
}

.tilePlaceholderImage {
    position: absolute;
    top: 25%;
}

@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
        padding: 10px;
    }

    .headerRightActions {
        display: none;
    }

    .header {
        justify-content: center;
    }
}
